<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/underscore.min.js"></script>
    <script type="text/javascript" src="./js/mixins.js"></script>
    <script type="text/javascript" src="./js/editable_table.js"></script>
    <script type="text/javascript" src="./js/template_loader.js"></script>
  </head>
  <body>
    <div id="status-holder"></div>
    <script id="editable-table-template"  type="text/template">
      <table>
	<thead>
	  <th></th>
	  <% _.each(field_order, function(f) { %>
	    <th><%= f %></th>
	  <% }); %>
	</thead>
	<tbody>
	</tbody>
      </table>
    </script>
  </body>
</html>
